.clear:after {
  display: block;
  clear: both;
  content: ""; }

input, a {
  outline: none; }

a {
  text-decoration: none; }

header {
  position: relative; }
  header #header_img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden; }
    header #header_img img {
      display: block;
      margin: 0 auto; }
  header .nav {
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #303030; }
    header .nav .nav_center {
      width: 1226px;
      margin: 0 auto; }
      header .nav .nav_center #nav_left {
        margin: 0 auto;
        height: 40px;
        float: left;
        position: relative; }
        header .nav .nav_center #nav_left li {
          float: left;
          display: inline-block; }
          header .nav .nav_center #nav_left li a {
            padding: 0px 10px;
            line-height: 40px;
            color: #b0b0b0;
            text-decoration: none;
            border-right: 1px solid #b0b0b0; }
          header .nav .nav_center #nav_left li ol {
            width: 1226px;
            height: 300px;
            position: absolute;
            left: 0;
            top: 40px;
            background: red;
            z-index: 30;
            display: none;
            box-shadow: 0 25px 36px rgba(60, 60, 60, 0.3); }
        header .nav .nav_center #nav_left li:hover .nav_left_show {
          display: block; }
        header .nav .nav_center #nav_left li:last-child {
          border-right: none; }
      header .nav .nav_center #shopping {
        display: inline-block;
        float: right;
        line-height: 40px;
        font-size: 12px;
        padding: 0 15px 0 35px;
        background: url("../img/shopping_03.jpg") no-repeat 10px center #424242; }
      header .nav .nav_center #nav_right {
        float: right;
        padding: 15px 0; }
        header .nav .nav_center #nav_right li {
          padding: 0 10px;
          display: inline-block; }
        header .nav .nav_center #nav_right li:first-child {
          border-right: 1px solid #b0b0b0; }
      header .nav .nav_center:after {
        display: block;
        clear: both;
        content: " "; }
  header .seek {
    width: 1226px;
    margin: 0 auto; }
    header .seek .seek_img {
      float: left;
      margin: 20px 0; }
      header .seek .seek_img img {
        height: 55px;
        margin-right: 50px; }
      header .seek .seek_img:after {
        display: block;
        clear: both;
        content: ""; }
    header .seek ul {
      float: left; }
      header .seek ul > li {
        float: left;
        padding: 20px 10px; }
        header .seek ul > li a {
          color: #303030;
          line-height: 55px; }
        header .seek ul > li:after {
          display: block;
          clear: both;
          content: ""; }
        header .seek ul > li .xl {
          position: absolute;
          width: 100vw;
          background: #ffffff;
          left: 0;
          top: 254px;
          z-index: 5;
          display: none;
          overflow: hidden;
          box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1); }
          header .seek ul > li .xl ol {
            background: #f0f0f0;
            width: 1226px;
            margin: 0 auto;
            text-align: center; }
            header .seek ul > li .xl ol li {
              float: left;
              padding: 0;
              width: 16%;
              margin-bottom: 10px; }
              header .seek ul > li .xl ol li .toubuPic {
                width: 100%;
                margin: 20px 0;
                border-right: 1px solid gainsboro;
                text-align: center; }
                header .seek ul > li .xl ol li .toubuPic img {
                  width: 80%;
                  margin: 0 auto; }
              header .seek ul > li .xl ol li p {
                font-size: 12px;
                color: grey; }
              header .seek ul > li .xl ol li span {
                font-size: 12px;
                color: #ff9412; }
      header .seek ul > li:hover a {
        color: #ff9412; }
      header .seek ul:after {
        display: block;
        clear: both;
        content: ""; }
    header .seek .seek_input {
      margin-top: 20px;
      float: right;
      background: red;
      position: relative; }
      header .seek .seek_input:after {
        display: block;
        clear: both;
        content: ""; }
      header .seek .seek_input input {
        width: 245px;
        height: 50px;
        border: 1px solid #b0b0b0;
        float: left; }
        header .seek .seek_input input:after {
          display: block;
          clear: both;
          content: ""; }
      header .seek .seek_input button {
        float: left;
        width: 50px;
        height: 54px;
        border: 1px solid #b0b0b0;
        border-left: 0px;
        background: url("../img/seek_03.jpg") no-repeat center white; }
        header .seek .seek_input button:after {
          display: block;
          clear: both;
          content: ""; }
      header .seek .seek_input .seek_span {
        position: absolute;
        left: 40px;
        top: 35%; }
        header .seek .seek_input .seek_span span {
          padding: 2px 5px;
          font-size: 12px;
          background: #eeeeee;
          color: #757575; }
    header .seek:after {
      display: block;
      clear: both;
      content: ""; }

section .banner {
  width: 1226px;
  margin: 0 auto;
  position: relative; }
  section .banner .banner_nav {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 235px;
    background: rgba(12, 12, 14, 0.5);
    float: left; }
    section .banner .banner_nav ul {
      padding: 20px 0; }
      section .banner .banner_nav ul > li {
        height: 42px;
        padding: 0 25px 0 30px; }
        section .banner .banner_nav ul > li span {
          line-height: 42px;
          font-size: 12px;
          margin-right: 5px; }
        section .banner .banner_nav ul > li a {
          color: white; }
        section .banner .banner_nav ul > li .fh {
          font-size: 12px;
          line-height: 42px;
          color: white;
          float: right; }
        section .banner .banner_nav ul > li:after {
          display: block;
          clear: both;
          content: ""; }
        section .banner .banner_nav ul > li .banner_nav_show {
          height: 460px;
          position: absolute;
          left: 234px;
          top: 0;
          display: none;
          background: #ffffff; }
          section .banner .banner_nav ul > li .banner_nav_show li {
            display: inline-block; }
            section .banner .banner_nav ul > li .banner_nav_show li .banner_list {
              width: 170px;
              height: 40px;
              padding: 15px 10px; }
              section .banner .banner_nav ul > li .banner_nav_show li .banner_list img {
                height: 40px;
                float: left; }
              section .banner .banner_nav ul > li .banner_nav_show li .banner_list span {
                float: left;
                line-height: 40px;
                font-size: 12px; }
              section .banner .banner_nav ul > li .banner_nav_show li .banner_list .ba_l_right {
                float: right;
                display: block;
                width: 65px;
                height: 24px;
                border: 1px solid #ff9412;
                line-height: 25px;
                text-align: center;
                margin-top: 6px;
                color: #ff9412; }
      section .banner .banner_nav ul li:hover .banner_nav_show {
        display: block; }
  section .banner .banner_banner {
    height: 460px;
    width: 1226px;
    float: left;
    overflow: hidden; }
    section .banner .banner_banner .swiper-button-prev {
      left: 245px; }
    section .banner .banner_banner .swiper-button-prev:hover, section .banner .banner_banner .swiper-button-next:hover {
      background-color: rgba(12, 12, 14, 0.5); }
  section .banner .banner_seek div {
    float: left;
    margin-right: 14px;
    margin-top: 14px; }
  section .banner .banner_seek .banner_activity {
    width: 214px;
    height: 150px;
    background: #5f5750;
    padding: 10px; }
    section .banner .banner_seek .banner_activity .b_a_row {
      height: 75px;
      margin: 0; }
      section .banner .banner_seek .banner_activity .b_a_row span {
        border-left: 1px solid #6d655e;
        width: 70px;
        display: block;
        float: left;
        height: 75px;
        position: relative; }
        section .banner .banner_seek .banner_activity .b_a_row span img {
          display: block;
          margin: 15px auto; }
        section .banner .banner_seek .banner_activity .b_a_row span p {
          text-align: center;
          font-size: 12px;
          color: #cdcac8; }
        section .banner .banner_seek .banner_activity .b_a_row span .yuan, section .banner .banner_seek .banner_activity .b_a_row span .yuan2 {
          margin: 0;
          width: 12px;
          height: 12px;
          background: #5f5750;
          border-radius: 50%;
          position: absolute;
          left: -6px;
          top: -6px; }
        section .banner .banner_seek .banner_activity .b_a_row span .yuan2 {
          left: -6px; }
      section .banner .banner_seek .banner_activity .b_a_row span:first-child {
        border: 0px; }
    section .banner .banner_seek .banner_activity .b_a_row:first-child span {
      border-bottom: 1px solid #6d655e; }
  section .banner .banner_seek .banner_seek_img {
    width: 316px;
    height: 170px; }
    section .banner .banner_seek .banner_seek_img img {
      display: block; }
  section .banner .banner_seek .banner_seek_img:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }
  section .banner .banner_seek div:last-child {
    margin-right: 0px; }
  section .banner:after {
    display: block;
    clear: both;
    content: ""; }
section .star {
  width: 1226px;
  margin: 26px auto; }
  section .star .star_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 58px;
    height: 58px; }
    section .star .star_title p {
      float: right; }
      section .star .star_title p span {
        display: inline-block;
        width: 34px;
        height: 22px;
        border: 1px solid #CCCCCC;
        color: grey;
        text-align: center; }
        section .star .star_title p span .jt, section .star .star_title p span .family .family_contetnt .family_title .jt, section .family .family_contetnt .family_title .star .star_title p span .jt {
          font-size: 15px;
          color: grey;
          line-height: 22px;
          margin-right: 10px; }
      section .star .star_title p span:last-child {
        border-left: 0px; }
  section .star .star_div {
    width: 234px;
    height: 339px;
    margin-right: 14px;
    background: #fafafa;
    float: left;
    text-align: center;
    font-size: 14px; }
    section .star .star_div img {
      display: block;
      margin: 50px auto 40px; }
    section .star .star_div a i {
      color: #303030;
      line-height: 1.5; }
    section .star .star_div span {
      line-height: 2;
      display: block;
      color: #b0b0b0; }
    section .star .star_div p {
      color: #ff6709;
      font-weight: 600;
      line-height: 1.5; }
  section .star .star_div:nth-child(1) {
    border-top: 2px solid #ffac13; }
  section .star .star_div:nth-child(2) {
    border-top: 2px solid #83c44e; }
  section .star .star_div:nth-child(3) {
    border-top: 2px solid #2196f3; }
  section .star .star_div:nth-child(4) {
    border-top: 2px solid #e53935; }
  section .star .star_div:nth-child(5) {
    border-top: 2px solid #00c0a5; }
  section .star .star_div:last-child {
    margin-right: 0px; }
  section .star .star_left {
    position: absolute;
    left: auto;
    right: 34px !important;
    top: 36px;
    width: 34px;
    height: 22px;
    opacity: 0; }
  section .star .star_right {
    position: absolute;
    left: auto;
    right: 0px !important;
    top: 36px;
    width: 34px;
    height: 22px;
    opacity: 0; }
section .family {
  width: 100%;
  background: #f5f5f5;
  padding-top: 60px; }
  section .family .family_contetnt {
    width: 1226px;
    margin: 0 auto; }
    section .family .family_contetnt .family_title span {
      font-size: 15px;
      font-weight: 600; }
    section .family .family_contetnt .family_title ul {
      float: right; }
      section .family .family_contetnt .family_title ul li {
        font-size: 12px;
        padding: 0 15px;
        float: left; }
        section .family .family_contetnt .family_title ul li a {
          color: #303030; }
      section .family .family_contetnt .family_title ul .active a {
        color: #ff6700;
        border-bottom: 2px solid #ff6700; }
    section .family .family_contetnt .star_title {
      font-weight: 500;
      font-size: 20px;
      line-height: 58px;
      height: 58px; }
      section .family .family_contetnt .star_title p {
        float: right; }
        section .family .family_contetnt .star_title p span {
          display: inline-block;
          width: 34px;
          height: 22px;
          border: 1px solid #CCCCCC;
          color: grey;
          text-align: center; }
          section .family .family_contetnt .star_title p span .jt {
            font-size: 15px;
            color: grey;
            line-height: 22px;
            margin-right: 10px; }
        section .family .family_contetnt .star_title p span:last-child {
          border-left: 0px; }
    section .family .family_contetnt .family_left {
      width: 234px;
      height: 614px;
      float: left; }
      section .family .family_contetnt .family_left img {
        margin-top: 14px;
        display: block; }
      section .family .family_contetnt .family_left img:hover {
        transition: 0.5s;
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(60, 60, 60, 0.1); }
    section .family .family_contetnt .family_right {
      float: left;
      width: 992px; }
      section .family .family_contetnt .family_right ul li {
        float: left;
        width: 234px;
        height: 300px;
        margin-top: 14px;
        background: white;
        margin-left: 14px;
        text-align: center;
        position: relative; }
        section .family .family_contetnt .family_right ul li img {
          display: block;
          margin: 50px auto 40px; }
        section .family .family_contetnt .family_right ul li a i {
          color: #303030;
          line-height: 1.5; }
        section .family .family_contetnt .family_right ul li p {
          line-height: 2;
          display: block;
          color: #b0b0b0; }
        section .family .family_contetnt .family_right ul li span {
          color: #ff6709;
          font-weight: 600;
          line-height: 1.5; }
          section .family .family_contetnt .family_right ul li span del {
            color: #b0b0b0;
            font-weight: 500; }
        section .family .family_contetnt .family_right ul li .location {
          width: 70px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -35px;
          color: white; }
      section .family .family_contetnt .family_right ul li:hover {
        transition: 0.5s;
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(60, 60, 60, 0.1); }
    section .family .family_contetnt .your {
      width: 1226px; }
      section .family .family_contetnt .your ul li {
        width: 234px; }
      section .family .family_contetnt .your ul li:first-child {
        margin-left: 0; }
    section .family .family_contetnt .your_left {
      position: absolute;
      left: auto;
      right: 34px !important;
      top: 36px;
      width: 34px;
      height: 22px;
      opacity: 0; }
    section .family .family_contetnt .your_right {
      position: absolute;
      left: auto;
      right: 0px !important;
      top: 36px;
      width: 34px;
      height: 22px;
      opacity: 0; }
section .product {
  width: 100%;
  background: #f5f5f5;
  padding-top: 58px; }
  section .product .family_title {
    width: 1226px;
    margin: 0 auto; }
    section .product .family_title span {
      font-size: 15px;
      font-weight: 600; }
    section .product .family_title ul {
      float: right; }
      section .product .family_title ul li {
        font-size: 12px;
        padding: 0 15px;
        float: left; }
        section .product .family_title ul li a {
          color: #303030; }
      section .product .family_title ul .active a {
        color: #ff6700;
        border-bottom: 2px solid #ff6700; }
  section .product .star_title {
    width: 1226px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 58px;
    height: 58px; }
    section .product .star_title p {
      float: right;
      font-size: 14px;
      font-weight: 800;
      line-height: 58px; }
      section .product .star_title p span {
        display: inline-block;
        width: 34px;
        height: 22px;
        border: 1px solid #CCCCCC;
        color: grey;
        text-align: center; }
        section .product .star_title p span .jt, section .product .star_title p span .family .family_contetnt .family_title .jt, section .family .family_contetnt .family_title .product .star_title p span .jt {
          font-size: 15px;
          color: grey;
          line-height: 22px;
          margin-right: 10px; }
      section .product .star_title p span:last-child {
        border-left: 0px; }
      section .product .star_title p .qb {
        font-size: 16px;
        color: #B0B0B0; }
  section .product .product_content {
    width: 1226px;
    margin: 0 auto; }
    section .product .product_content li {
      width: 299px;
      margin-right: 10px;
      float: left;
      margin-top: 10px;
      background: white; }
      section .product .product_content li img {
        display: block;
        margin: 0 auto; }
      section .product .product_content li .product_txt {
        padding: 30px 15px;
        background: white; }
        section .product .product_content li .product_txt div {
          height: 38px;
          font-size: 12px;
          line-height: 1.5;
          text-overflow: ellipsis;
          overflow: hidden; }
        section .product .product_content li .product_txt p {
          font-size: 12px;
          color: #b0b0b0;
          line-height: 2; }
        section .product .product_content li .product_txt span {
          font-size: 12px;
          color: #303030;
          padding-right: 10px; }
        section .product .product_content li .product_txt .money {
          color: #ff6700;
          padding: 0 10px;
          border-left: 1px solid #b0b0b0; }
      section .product .product_content li .content {
        text-align: center;
        height: 105px; }
        section .product .product_content li .content i {
          font-size: 12px;
          color: #ffac13; }
        section .product .product_content li .content p {
          font-size: 18px;
          color: #303030; }
        section .product .product_content li .content div {
          font-size: 12px;
          color: #b0b0b0; }
        section .product .product_content li .content span {
          font-size: 10px;
          color: #303030;
          border: 0px; }
    section .product .product_content li:last-child {
      margin-right: 0; }
    section .product .product_content .book {
      text-align: center;
      padding-top: 30px; }
      section .product .product_content .book i {
        line-height: 2;
        font-size: 12px;
        color: #ff6700; }
      section .product .product_content .book .product_txt {
        padding-top: 0px; }
      section .product .product_content .book .books {
        overflow: hidden; }
        section .product .product_content .book .books li {
          float: left; }
  section .product .content li img {
    margin-bottom: 20px; }
  section .product .content li ol {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 40%; }
    section .product .content li ol li {
      float: left;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #B0B0B0;
      margin-right: 10px;
      border: 3px solid white; }
    section .product .content li ol li:last-child {
      margin-right: 0px; }
    section .product .content li ol .ol_active {
      border: 3px solid #ff6700;
      background: white; }
  section .product .video {
    text-align: center; }
    section .product .video li {
      position: relative; }
      section .product .video li .stop {
        position: absolute;
        left: 20px;
        bottom: 110px; }
section .product:last-child {
  padding-bottom: 60px; }
section .product li:hover {
  transition: .8s;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(60, 60, 60, 0.1); }

footer .footer_header {
  width: 1226px;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #b0b0b0; }
  footer .footer_header li {
    width: 19%;
    text-align: center;
    float: left;
    border-right: 1px solid #b0b0b0; }
    footer .footer_header li span {
      padding-left: 30px;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      background: url("../img/xiaom (10).jpg") no-repeat left center; }
  footer .footer_header li:last-child {
    border-right: 0px; }
footer .footer_body {
  width: 1226px;
  margin: 0 auto; }
  footer .footer_body ul {
    width: 13%;
    text-align: left;
    float: left;
    padding-top: 20px; }
    footer .footer_body ul li:first-child {
      font-size: 14px;
      font-weight: 700;
      color: #303030;
      padding-bottom: 10px; }
    footer .footer_body ul li {
      line-height: 2;
      font-size: 12px; }
      footer .footer_body ul li a {
        color: #757575; }
  footer .footer_body .footer_body_div {
    width: 20%;
    float: left;
    text-align: center;
    border-left: 1px solid #b0b0b0;
    margin-top: 20px; }
    footer .footer_body .footer_body_div p:nth-child(1) {
      font-size: 24px;
      font-weight: 700; }
      footer .footer_body .footer_body_div p:nth-child(1) a {
        color: #ff6700; }
    footer .footer_body .footer_body_div p:nth-child(2), footer .footer_body .footer_body_div p:nth-child(3) {
      font-size: 12px; }
      footer .footer_body .footer_body_div p:nth-child(2) a, footer .footer_body .footer_body_div p:nth-child(3) a {
        color: #616161;
        line-height: 2; }
    footer .footer_body .footer_body_div .btn {
      width: 120px;
      height: 30px;
      border: 1px solid #ff6700;
      text-align: center;
      line-height: 30px;
      margin: 10px auto; }
      footer .footer_body .footer_body_div .btn span {
        font-size: 12px;
        color: #ff6700; }
footer .footer_b_bottom {
  width: 100%;
  background: #fafafa;
  padding: 20px 0px; }
  footer .footer_b_bottom .footer_bottom {
    width: 1226px;
    margin: 0px auto 0;
    background: #fafafa; }
    footer .footer_b_bottom .footer_bottom .logo {
      display: block;
      float: left;
      height: 60px; }
    footer .footer_b_bottom .footer_bottom .f_b_txt {
      float: left;
      margin-left: 20px;
      font-size: 13px; }
      footer .footer_b_bottom .footer_bottom .f_b_txt span {
        line-height: 1.5;
        border-right: 1px solid #b0b0b0;
        padding: 0 5px; }
      footer .footer_b_bottom .footer_bottom .f_b_txt span:last-child {
        border-right: 0px; }
    footer .footer_b_bottom .footer_bottom .f_b_logo {
      margin-left: 20px;
      float: left; }

.jt, section .family .family_contetnt .family_title .jt {
  float: right; }
  .jt span, section .family .family_contetnt .family_title .jt span {
    float: right;
    width: 34px;
    height: 22px;
    border: 1px solid #cccccc; }

.book_one_prev {
  background: url("../img/btn1_03.png") no-repeat center #d9d9d9 !important;
  display: none; }

.book_one_prev:hover {
  background: url("../img/btn_03.png") no-repeat center #8E8E8E !important; }

.book_one_next {
  display: none;
  background: url("../img/btn1_05.png") no-repeat center #d9d9d9 !important; }

.book_one_next:hover {
  background: url("../img/btn_05.png") no-repeat center #8E8E8E !important; }

.book:hover .book_one_prev {
  display: block; }
.book:hover .book_one_next {
  display: block; }
